{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All categories</span>
                    </div>
                    <ul>
                        {% for category in categories %}
                            <li><a href=".">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form method="get">
                            <input type="search" name="s" placeholder="What do you need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+998 88 910 67 63</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/blog/details/details-hero.jpg.webp' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form method="get">
                            <input type="search" name="s" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul>
                            {% for category in categories %}
                                <li><a href="?cat={{ category }}">{{ category }} ({{ category.post_set.count }})</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent">
                            {% for last_3_post in last_3_posts %}
                                <a href="{% url 'blog:blog-details' last_3_post.id %}" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img width="90px" height="80px" src="{{ last_3_post.image.url }}" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>{{ last_3_post.title|slice:75 }}</h6>
                                    <span>{{ last_3_post.created_at }}</span>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags">
                            {% for tag in tags %}
                                <a href="?tag={{ tag }}">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{ post.image.url }}" alt="">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{ post.created_at }}</li>
                                </ul>
                                <h5><a href="/blog/blog-details/{{ post.id }}">{{ post.title }}</a></h5>
                                <p>{{ post.content|slice:250 }}</p>
                                <a href="/blog/blog-details/{{ post.id }}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col-lg-12">
                        <div class="product__pagination blog__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
$('.header__menu>ul>li').removeClass('active')
$('.blog_page').addClass('active')
</script>
{% endblock %}
